@at-root{
	$component: &;

	#{$component}{
		display: flex;
		height: 100%;
		@media screen and (min-width: get-breakpoint(sm)){
		}
		@media screen and (min-width: get-breakpoint(md)){
		}
		@media screen and (min-width: get-breakpoint(lg)){
		}
	}
}