@at-root{
	$component: get-element("input");

	#{$component}{
		@media screen and (min-width: get-breakpoint(sm)){
		}
		@media screen and (min-width: get-breakpoint(md)){
		}
		@media screen and (min-width: get-breakpoint(lg)){
		}
	}
    .c-list--definitions{
        #{$component}{
            margin-left: 5px;
            border-bottom: 1px solid  get-color(underlineBg);
            @media screen and (min-width: get-breakpoint(sm)){
            }
            @media screen and (min-width: get-breakpoint(md)){
            }
            @media screen and (min-width: get-breakpoint(lg)){
            }
        }
    }
}