@at-root{
	$component: &;

	#{$component}{
		@media screen and (min-width: get-breakpoint(sm)){
		}
		@media screen and (min-width: get-breakpoint(md)){
		}
		@media screen and (min-width: get-breakpoint(lg)){
		}
		&--definitions{
			padding-top: 15px;
			padding-left: 10px;
		}
	}
}